<% @event_brite_events.parsed_response["events"].each do |key|%>

    <p><% key['logo'] %></p>

    <p><%= image_tag key['logo']['url'] if key['logo'] %></p>
     <p><%= image_tag key['original']['url'] if key['original'] %></p>

    <p><%= key ["description"]["text"].truncate(400)%></p>
  <hr style="border-bottom:1px solid red;">
<% end %>
<!-- ["description"]["html"].html_safe -->
<!-- ["url"].html_safe, target: '_blank' -->
<!-- ebe["description"]["text"].truncate(400) -->
<!--  -->
<!-- my_hash['item']['current']['price'] -->
