<<<<<<< HEAD

<h1>EvenBrite</h1>



=======
<h1>Events</h1>
>>>>>>> dd7076d739019a4713a6f4863bc6f2ecfda4a9bf
<% @event_brite_events.parsed_response["events"].each do |ebe|%>
  <p>description: <%= ebe["description"]["html"].html_safe %></p>
  <hr style="border-bottom:1px solid red;">
<% end %>
